.sidebar{
	background-color: #f8f9fa;
	color:#333;
}
.sidebar.active ul li a {
    padding: 20px 10px;
    text-align: left;
    font-size: 1.1em;
}

.sidebar ul li a:hover {
    color: #333;
    background: #FFF;
}
.sidebar ul ul li a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #EEE;
}

.sidebar ul li.active > a, .sidebar a[aria-expanded="true"] {
    color: #333;
    background: #DDD;
}