#content{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: #d7dce1;
    color: #32415d;
}
#content .card-deck{
	padding-top: 6px;
}
#content .row{
	margin-left: 2px;
}
#content .card-deck .de{
	margin-right: 0px;
}
#content .card-deck .card{
	width: 390px;
	height: 225px;	
}
#content .card .card-header{
	font-size: 18px;
	background-color: #eff2f5;
    border: none;
    border-radius: 5px;
}
#content .card .number{
	font-size: 70px;
	font-weight: bold;
}
#content #card-2{
	width: 1605px;
	height: 285px;
	margin-top: 30px;
	border-radius: 5px;
	margin-bottom: 100px;
}
#content .card .dollar{
	font-size: 30px;
}
#content .card .price_label{
	font-size: 18px;
}


@media screen and (max-width: 961px){
	.counter .title{
		font-size: 12px;
	}
	.counter .number{
		font-size: 48px;
		line-height: 48px;
		color: #333;
	}	
}

@media screen and (max-width: 768px){
	.counter_border{
		width: 50%;
	}
}