.label{
	text-align: right;
}
.text{
}
img{
	max-width: 100%;
    max-height: 300px;
}
@media (max-width: 768px) {
	.label{
		text-align: left;
	}
	.nav-item{
		width: 100%;
		text-align: center;
	}
}