.form-control-label{
	text-align: right;
	padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
}
.data p{
	margin: 0;
}
#content .text{
	padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
}
.table td, .table th{
	vertical-align: middle;
}
.hide{
	visibility: hidden;
	display: none;
}
.action_btns>span{
	margin: 0 5px;
}
.action_btns>span:hover{
	cursor: pointer;
	color:#F00;
}
.confirm_btns>span{
	margin: 0 5px;
}
.confirm_btns>span:hover{
	cursor: pointer;
	color:#F00;
}
.chosen-select{
	width: 100%;
}
.chosen-container-single .chosen-single{
	padding: .5rem .75rem;
}
input[type=checkbox]{
	width: 20px;
    height: 20px;
    vertical-align: -webkit-baseline-middle;
}
@media (max-width: 768px) {
	.form-control-label{
		text-align: left;
	}
	.nav-item{
		width: 100%;
		text-align: center;
	}
}