#method{
  color:#FFF;
}
#content .form-horizontal{
	width: 900px;
	height: 600px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
} 
#content .form-horizontal .btn{
	background-color: #32415d;
	color: #fff;
}



