body, html{  
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    font-family: "Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei",Arial,sans-serif;
    width: 100%;
}
#content{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    background-color: #d7dce1;
    color: #32415d;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper{
	display: flex;
    align-items: stretch;
    //height: 100%;
    min-height: 100%;
}
.wrapper >*{
    padding-top: 3.5rem !important;
}

.breadcrumb .breadcrumb-item{
    line-height: 1.25;
    padding: .5rem 0;
}
.breadcrumb #bread{
    font-size: 15.5px;
    color: #7d8d99;
}
.breadcrumb .active{
    font-size: 16.5px;
    color: #32415d;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: ">" !important;
    color: #32415d !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.pagination-info{
    margin-right: 30px !important;
}

.container .row i{
    line-height: 1.5rem;
}
.form-control{
    line-height: 32px;
}

.form-control{
    line-height: 40px !important;
}

@media (max-width: 512px) {
    nav #bars{
        color: #fff;
    }
    nav .navbar-toggler{
        border: none !important;
    }
    nav .nav-link{
        color: black !important;
    }
    .breadcrumb{
        margin-top: 20px;
    }
    .pagination-detail{
        font-size: 15px;
    }
    #tool_form .input-group{
        max-height: 50px;
        margin-bottom: 50px;
        vertical-align: middle;
    }
    #content #con{
        font-size: 24px;
    }
    .container #title{
        font-size: 21px;
    }
    .container th{
        white-space: nowrap;
        text-align: left;
    }
    .container .info{
        font-size: 14px;
    }
}