#collections_select .ms-selection .ms-list { 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0; 
 	width: 100%; 
}
#collections_select .ms-selection .ms-list li { 
	padding: 5px 10px;
    width: 100%;
    line-height: 1.25;
}
#collections_select .ms-selection .ms-list li.ui-state-default{
	cursor: n-resize;
}
#collections_select .ms-selection .ms-list li.ui-state-default:hover{
	background: #ECEFF1;
}
#collections_select .ms-selection .ms-list li.ui-state-highlight{ 
	padding: 5px 10px;
	height: 28px;
    width: 100%;
    line-height: 1.25;
	border: 1px dashed #555;
}

.ms-selection .ms-list .ui-state-highlight{
	height: 26px;
}